.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table th,
.results-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.error-message {
    color: red;
}

.update-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.update-button:hover {
    background-color: #0056b3;
}

.rank-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.rank-container {
    margin-top: 20px;

}


.rank-container p {
    font-weight: bold;
    font-size: 16px;
}